config SHIELD_DRIFT_LEFT
    def_bool $(shields_list_contains,drift_left)

config SHIELD_DRIFT_RIGHT
    def_bool $(shields_list_contains,drift_right)

config SHIELD_DRIFT_DONGLE
	def_bool $(shields_list_contains,drift_dongle)